.About-bg {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  border-radius: 0.3rem;
  background-image: url(../../../../src/imgs/creative.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 1000px;
}
